{#
Copyright 2016 CampaignChain, Inc. <info@campaignchain.com>

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

{% set page_title = 'Authorize' %}

{% extends 'CampaignChainCoreBundle:Base:base_fullscreen.html.twig' %}

{% trans_default_domain 'FOSOAuthServerBundle' %}

{% block body %}
    <!-- Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <img src="{{ campaignchain_theme.getLogo() | imagine_filter('theme') }}" height="24" class="pull-right">
        </div>
        <div class="modal-body">
            <h3><i class="fa fa-cube"></i> {{ client.name }}</h3>
            <p>The application "{{ client.name }}" would like to connect to your account.</p>
            {{ form_start(form, {"attr": {"action": path('fos_oauth_server_authorize'), "method": "POST", "class": "form-horizontal"}}) }}
                {{ bootstrap_set_style('horizontal') }}
                {{ bootstrap_set_widget_col(9) }}
                {{ bootstrap_set_label_col(3) }}
                <button class="btn btn-primary" type="submit" name="accepted" value="{{ 'authorize.accept'|trans({}, 'FOSOAuthServerBundle') }}">{{ 'authorize.accept'|trans({}, 'FOSOAuthServerBundle') }}</button>
                <button class="btn btn-default" type="submit" name="rejected" value="{{ 'authorize.reject'|trans({}, 'FOSOAuthServerBundle') }}">{{ 'authorize.reject'|trans({}, 'FOSOAuthServerBundle') }}</button>
                {{ form_row(form.client_id) }}
                {{ form_row(form.response_type) }}
                {{ form_row(form.redirect_uri) }}
                {{ form_row(form.state) }}
                {{ form_row(form.scope) }}
                {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
        {% if (campaignchain_system is not null) and (campaignchain_system.termsUrl is not null) %}
            <div class="modal-footer">
                <p class="text-muted">The shared information will be used in accordance with the<br/><a href="{{ campaignchain_system.termsUrl }}">terms of service and privacy policies</a>.</p>
            </div>
        {% endif %}
    </div>
<script type="text/javascript">
    $('#loginModal').modal('show');
</script>
{% endblock %}